.background {
    -fx-background-color: #1d1d1d;
}

.button {
    -fx-background-insets: 0,1,4,5,6;
    -fx-background-radius: 9,8,5,4,3;
    -fx-padding: 15 30 15 30;
    -fx-font-family: "Arial";
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(255,255,255,0.2) , 1, 0.0 , 0 , 1);
}
.rootStyle {
    -fx-font-size: 14.0 pt;
    -fx-font-family: "Bookman Old Style";
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 10.0px;

}
.textField {
    -fx-background-insets: 0,1,4,5,6;
    -fx-font-family: "Arial";
    -fx-font-size: 10px;
    -fx-font-weight: bold;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(255,255,255,0.2) , 1, 0.0 , 0 , 1);
}